<form>
  <md-card>
    <md-card-header>
      <md-card-title>注册</md-card-title>
    </md-card-header>
    <md-card-content>
      <md-input-container class="full-width">
        <input mdInput type="text" placeholder="您的email">
      </md-input-container>
      <md-input-container class="full-width">
        <input mdInput type="password" placeholder="您的姓名">
      </md-input-container>
      <md-input-container class="full-width">
        <input mdInput type="password" placeholder="您的密码">
      </md-input-container>
      <md-input-container class="full-width">
        <input mdInput type="password" placeholder="重复输入您的密码">
      </md-input-container>
      <md-grid-list cols="6">
        <md-grid-tile *ngFor="let item of items">
          <md-icon class="avatar" [svgIcon]="item"></md-icon>
        </md-grid-tile>
      </md-grid-list>
      <button md-raised-button type="button" color="primary">注册</button>
    </md-card-content>
    <md-card-actions class="text-right">
      <p>还没有账户？<a href="">登录</a></p>
      <p>忘记密码？<a href="">找回</a></p>
    </md-card-actions>
  </md-card>
</form>
