<form>
  <md-card>
    <md-card-header>
      <md-card-title>登录：</md-card-title>
    </md-card-header>
    <md-card-content>
      <md-input-container class="full-width">
        <input mdInput type="text" placeholder="您的email">
      </md-input-container>
      <md-input-container class="full-width">
        <input mdInput type="password" placeholder="您的密码">
      </md-input-container>
      <button md-raised-button type="button" color="primary">登录</button>
    </md-card-content>
    <md-card-actions class="text-right">
      <p>还没有账户？<a routerLink="/register">注册</a></p>
      <p>忘记密码？<a href="">找回</a></p>
    </md-card-actions>
  </md-card>

  <md-card>
    <md-card-header>
      <md-card-title>
        每日佳句
      </md-card-title>
      <md-card-subtitle>
        满足感在于不断的努力，而不是现有成就。全心努力定会胜利满满。
      </md-card-subtitle>
    </md-card-header>
    <img md-card-image src="/assets/img/quote_fallback.jpg" alt="">
    <md-card-content>
      Satisfaction lies in the effort, not in the attainment. Full effort is full victory.
    </md-card-content>
  </md-card>
</form>
